<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListarUsuarioServlet</servlet-name>
        <servlet-class>controller.ListarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuarioServlet</servlet-name>
        <servlet-class>controller.EliminarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <servlet-class>controller.EditarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarEditarUsuarioServlet</servlet-name>
        <servlet-class>controller.GuardarEditarUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarUsuarioServlet</servlet-name>
        <url-pattern>/ListarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuarioServlet</servlet-name>
        <url-pattern>/EliminarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <url-pattern>/EditarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarEditarUsuarioServlet</servlet-name>
        <url-pattern>/GuardarEditarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
